html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

/*=======================================================================================*/
/* themes */
/*=======================================================================================*/
:root {
  /*=======================================================================================*/
  /* theme 1 */
  /*=======================================================================================*/
  /* !background */
  --bodyColor-1: hsl(222, 26%, 31%);
  --btnPanel-1: hsl(223, 31%, 20%);
  --resultPanel-1: hsl(224, 36%, 15%);
  /* ! Btn */
  --operatorBtn-1: hsl(30, 25%, 89%);
  --operatorBtn--shadow-1: hsl(28, 16%, 65%);
  /* --operatorBtn--hover-1: ; */
  --functionalBtn-1: hsl(225, 21%, 49%);
  --functionalBtn--shadow-1: hsl(224, 28%, 35%);
  /* --functionalBtn--hover-1: ; */
  --switchBtn-1: hsl(6, 63%, 50%);
  --switchBtn--shadow-1: hsl(6, 70%, 34%);
  /* --switchBtn--hover-1: ; */
  /* ! text */
  --text-1: hsl(0, 0%, 100%);
  --textBtn-1: hsl(221, 14%, 31%);
  --textFunctionalBtn-1: hsl(0, 0%, 100%);
  --textEqualBtn-1: hsl(0, 0%, 100%);
  /*=======================================================================================*/
  /* theme 2 */
  /*=======================================================================================*/
  /* !background */
  --bodyColor-2: hsl(0, 0%, 90%);
  --btnPanel-2: hsl(0, 5%, 81%);
  --resultPanel-2: hsl(0, 0%, 93%);
  /* ! Btn */
  --operatorBtn-2: hsl(45, 7%, 89%);
  --operatorBtn--shadow-2: hsl(35, 11%, 61%);
  /* --operatorBtn--hover-2: ; */
  --functionalBtn-2: hsl(185, 42%, 37%);
  --functionalBtn--shadow-2: hsl(185, 58%, 25%);
  /* --functionalBtn--hover-2: ; */
  --switchBtn-2: hsl(25, 98%, 40%);
  --switchBtn--shadow-2: hsl(25, 99%, 27%);
  /* --switchBtn--hover-2: ; */
  /* ! text */
  --text-2: hsl(60, 10%, 19%);
  --textBtn-2: hsl(60, 10%, 19%);
  --textFunctionalBtn-2: hsl(0, 0%, 100%);
  --textEqualBtn-2: hsl(0, 0%, 100%);
  /*=======================================================================================*/
  /* theme 3 */
  /*=======================================================================================*/
  /* !background */
  --bodyColor-3: hsl(268, 75%, 9%);
  --btnPanel-3: hsl(268, 71%, 12%);
  --resultPanel-3: hsl(268, 71%, 12%);
  /* ! Btn */
  --operatorBtn-3: hsl(268, 47%, 21%);
  --operatorBtn--shadow-3: hsl(290, 70%, 36%);
  /* --operatorBtn--hover-3: ; */
  --functionalBtn-3: hsl(281, 89%, 26%);
  --functionalBtn--shadow-3: hsl(290, 70%, 36%);
  --functionalBtn--hover-3: hsl(285, 91%, 52%);
  --switchBtn-3: hsl(176, 100%, 44%);
  --switchBtn--shadow-3: hsl(177, 92%, 70%);
  /* --switchBtn--hover-3: ; */
  /* ! text */
  --text-3: hsl(52, 100%, 62%);
  --textBtn-3: hsl(52, 100%, 62%);
  --textFunctionalBtn-3: hsl(0, 0%, 100%);
  --textEqualBtn-3: hsl(198, 20%, 13%);
}
body {
  background-color: hsl(198, 20%, 13%);
}
/*=======================================================================================*/
